<!--AUTHOR: Neset Unver Akmandor (NUA)-->
<!--        Gary Lvov (GML)-->
<!--        Hongyu Li (LHY) -->
<!--E-MAIL: akmandor.n@northeastern.edu-->
<!--        lvov.g@northeastern.edu-->
<!--        li.hongyu1@northeastern.edu -->

<launch>

  <!-- CONFIGURATION OPTIONS
    training_garden_static_0
    training_garden_dynamic_0
    validation
  -->
  <arg name="world_name"      default="training_garden_static_0" />
  <arg name="world_file"      default="$(find tentabot)/worlds/$(arg world_name).world" />

  <!-- CONFIGURATION OPTIONS
    turtlebot3
    stretch
    jackal
    rosbot
  -->
  <arg name="robot_name"      default="turtlebot3" />
  <arg name="robot_model"     default="burger" />
  <arg name="debug"           default="false" />
  <arg name="gui"             default="true" />
  <arg name="verbose"         default="false" />
  <arg name="use_sim_time"    default="true" />
  <arg name="headless"        default="false" />
  <arg name="sim_paused"      default="false"/>

  <arg name="ns0"             default="$(arg robot_name)_0" />
  <!--arg name="x0"           default="0.8866"/>
  <arg name="y0"              default="0.24"/-->
  <arg name="robot0_init_pos_x"              default="0.0" />
  <arg name="robot0_init_pos_y"              default="0.0" />
  <arg name="robot0_init_yaw"                default="0.0" />

  <!--arg name="ns1"    default="$(arg ns)_1"/>
  <arg name="model1"    default="burger"/>
  <arg name="x1"        default="1.18"/>
  <arg name="y1"        default="12.15"/>
  <arg name="yaw1"      default="0.0"/>
  
  <arg name="ns2"       default="$(arg ns)_2"/>
  <arg name="model2"    default="burger"/>
  <arg name="x2"        default="-10.085"/>
  <arg name="y2"        default="12.15"/>
  <arg name="yaw2"      default="3.14"/>

  <arg name="ns3"       default="$(arg ns)_3"/>
  <arg name="model3"    default="burger"/>
  <arg name="x3"        default="-11.0"/>
  <arg name="y3"        default="-0.03"/>
  <arg name="yaw3"      default="3.14"/-->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="verbose" value="$(arg verbose)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="paused" value="$(arg sim_paused)"/>
  </include>

  <!-- this node spawn pedsim actors to gazebo once, then the plugin updates their pose -->
  <group if="$(eval arg('world_name') == 'training_garden_dynamic_0')">
    <node pkg="tentabot" type="spawn_pedsim_agents.py" name="spawn_pedsim_agents" output="screen" />
    <include file="$(find tentabot)/launch/others/pedsim_ros/pedsim_training_garden_dynamic_0.launch" />
  </group>

  <group if="$(eval arg('world_name') == 'training_garden_dynamic_1')">
    <node pkg="tentabot" type="spawn_pedsim_agents.py" name="spawn_pedsim_agents" output="screen" />
    <include file="$(find tentabot)/launch/others/pedsim_ros/pedsim_training_garden_dynamic_1.launch" />
  </group>

  <group if="$(eval arg('world_name') == 'training_garden_dynamic_2')">
    <node pkg="tentabot" type="spawn_pedsim_agents.py" name="spawn_pedsim_agents" output="screen" />
    <include file="$(find tentabot)/launch/others/pedsim_ros/pedsim_training_garden_dynamic_2.launch" />
  </group>

  <group if="$(eval arg('world_name') == 'testing_lvl_2')">
    <node pkg="tentabot" type="spawn_pedsim_agents.py" name="spawn_pedsim_agents" output="screen" />
    <include file="$(find tentabot)/launch/others/pedsim_ros/pedsim_testing_lvl_2.launch" />
  </group>

  <group if="$(eval arg('world_name') == 'testing_lvl_3')">
    <node pkg="tentabot" type="spawn_pedsim_agents.py" name="spawn_pedsim_agents" output="screen" />
    <include file="$(find tentabot)/launch/others/pedsim_ros/pedsim_testing_lvl_3.launch" />
  </group>

  <group if="$(eval arg('world_name') == 'testing_lvl_5')">
    <node pkg="tentabot" type="spawn_pedsim_agents.py" name="spawn_pedsim_agents" output="screen" />
    <include file="$(find tentabot)/launch/others/pedsim_ros/pedsim_testing_lvl_5.launch" />
  </group>

  <group if="$(eval arg('world_name') == 'testing_lvl_6')">
    <node pkg="tentabot" type="spawn_pedsim_agents.py" name="spawn_pedsim_agents" output="screen" />
    <include file="$(find tentabot)/launch/others/pedsim_ros/pedsim_testing_lvl_6.launch" />
  </group>

  <group if="$(eval arg('world_name') == 'testing_lvl_7')">
    <node pkg="tentabot" type="spawn_pedsim_agents.py" name="spawn_pedsim_agents" output="screen" />
    <include file="$(find tentabot)/launch/others/pedsim_ros/pedsim_testing_lvl_7.launch" />
  </group>

  <group if="$(eval arg('world_name') == 'testing_lvl_9')">
    <node pkg="tentabot" type="spawn_pedsim_agents.py" name="spawn_pedsim_agents" output="screen" />
    <include file="$(find tentabot)/launch/others/pedsim_ros/pedsim_testing_lvl_9.launch" />
  </group>

  <group if="$(eval arg('world_name') == 'testing_lvl_10')">
    <node pkg="tentabot" type="spawn_pedsim_agents.py" name="spawn_pedsim_agents" output="screen" />
    <include file="$(find tentabot)/launch/others/pedsim_ros/pedsim_testing_lvl_10.launch" />
  </group>

  <group if="$(eval arg('world_name') == 'grid')">
    <node pkg="tentabot" type="spawn_pedsim_agents.py" name="spawn_pedsim_agents" output="screen" />
    <include file="$(find tentabot)/launch/others/pedsim_ros/grid.launch" />
  </group>

  <group if="$(eval arg('world_name') == 'validation')">
    <node pkg="tentabot" type="spawn_pedsim_agents.py" name="spawn_pedsim_agents" output="screen" />
    <include file="$(find tentabot)/launch/others/pedsim_ros/pedsim_testing_validation.launch" />
  </group>

  <group if="$(eval arg('robot_name') == 'turtlebot3')">
    <group ns="$(arg ns0)">
      <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 0 0 0 1 world $(arg ns0)/odom 100" />
      <include file="$(find tentabot)/launch/utilities/spawn_robot.launch">
        <arg name="robot" value="$(arg robot_name)" />
        <arg name="model" value="$(arg robot_model)" />
        <arg name="ns" value="$(arg ns0)" />
        <arg name="x" value="$(arg robot0_init_pos_x)" />
        <arg name="y" value="$(arg robot0_init_pos_y)" />
        <arg name="yaw" value="$(arg robot0_init_yaw)" />
      </include>
    </group>
  </group>

  <group if="$(eval arg('robot_name') == 'rosbot')">
    <group ns="$(arg ns0)">
      <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 0 0 0 1 world $(arg ns0)/odom 100" />
      <include file="$(find tentabot)/launch/utilities/spawn_robot.launch">
        <arg name="robot" value="$(arg robot_name)" />
        <arg name="model" value="$(arg robot_model)" />
        <arg name="ns" value="$(arg ns0)" />
        <arg name="x" value="$(arg robot0_init_pos_x)" />
        <arg name="y" value="$(arg robot0_init_pos_y)" />
        <arg name="yaw" value="$(arg robot0_init_yaw)" />
      </include>
    </group>
  </group>

  <group if="$(eval arg('robot_name') == 'stretch')">
    <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 0 0 0 1 world ground_truth 100" />
    <include file="$(find tentabot)/launch/utilities/spawn_robot.launch">
      <arg name="robot" value="$(arg robot_name)" />
      <arg name="model" value="$(arg robot_model)" />
      <arg name="x" value="$(arg robot0_init_pos_x)" />
      <arg name="y" value="$(arg robot0_init_pos_y)" />
      <arg name="yaw" value="$(arg robot0_init_yaw)" />
    </include>
  </group>

  <group if="$(eval arg('robot_name') == 'jackal')">
    <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 0 0 0 1 world odom 100" />
    <include file="$(find tentabot)/launch/utilities/spawn_robot.launch">
      <arg name="robot" value="$(arg robot_name)" />
      <arg name="model" value="$(arg robot_model)" />
      <arg name="x" value="$(arg robot0_init_pos_x)" />
      <arg name="y" value="$(arg robot0_init_pos_y)" />
      <arg name="yaw" value="$(arg robot0_init_yaw)" />
    </include>
  </group>

  <!--
  <group ns="$(arg ns1)">
  <node pkg="tf" type="static_transform_publisher" name="world_1" args="0 0 0 0 0 0 1 world $(arg ns1)/odom 100" />
  <include file="$(find tentabot)/launch/utilities/spawn_robot.launch">
    <arg name="robot"         value="$(arg robot)"/>
    <arg name="ns"            value="$(arg ns1)"/>
    <arg name="model"         value="$(arg model2)"/>
    <arg name="x"             value="$(arg x1)"/>
    <arg name="y"             value="$(arg y1)"/>
    <arg name="yaw"           value="$(arg yaw1)"/>
  </include>
  </group>
  <group ns="$(arg ns2)">
  <node pkg="tf" type="static_transform_publisher" name="world_2" args="0 0 0 0 0 0 1 world $(arg ns2)/odom 100" />
  <include file="$(find tentabot)/launch/utilities/spawn_robot.launch">
    <arg name="robot"         value="$(arg robot)"/>
    <arg name="ns"            value="$(arg ns2)"/>
    <arg name="model"         value="$(arg model2)"/>
    <arg name="x"             value="$(arg x2)"/>
    <arg name="y"             value="$(arg y2)"/>
    <arg name="yaw"           value="$(arg yaw2)"/>
  </include>
  </group>
  <group ns="$(arg ns3)">
  <node pkg="tf" type="static_transform_publisher" name="world_3" args="0 0 0 0 0 0 1 world $(arg ns3)/odom 100" />
  <include file="$(find tentabot)/launch/utilities/spawn_robot.launch">
    <arg name="robot"         value="$(arg robot)"/>
    <arg name="ns"            value="$(arg ns3)"/>
    <arg name="model"         value="$(arg model3)"/>
    <arg name="x"             value="$(arg x3)"/>
    <arg name="y"             value="$(arg y3)"/>
    <arg name="yaw"           value="$(arg yaw3)"/>
  </include>
  </group>
  -->
</launch>
