<?xml version="1.0"?>
<!--
    - Base      : kobuki
    - Stacks    : hexagons
    - 3d Sensor : kinect
-->    
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="sick_name" value="laser" />

  <xacro:include filename="$(find tentabot)/urdf/jackal_robosense.urdf.xacro" />
  
</robot>